snippet bhead "Bootstrap头部导入的css和js文件"
<link rel="stylesheet" href="../css/bootstrap.css" type="text/css" media="all" />
<link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../js/bootstrap.js"></script>
endsnippet
